@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-fill: #d1d5db;
    --color-faded: #b4b9c1;
    --color-highlighter: #56595e;
  }

  .dark {
    --color-primary: #fff;
    --color-secondary: #020e21;
    --color-fill: #0d3141fe;
    --color-faded: #2f626ffe;
    --color-highlighter: #85e7fffe;
  }
}
