@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-fill: #d1d5db;
  }
  
  .dark {
    --color-primary: #fff;
    --color-secondary: #000;
    --color-fill: #0d3141fe;
    --color-fill-text: #85e7fffe;
  }
}
